.menu{
    background-color:rgb(74, 90, 92);
    text-align: center; 
    color:white;
    height: 50px;
    width: 100%;
}

img{
    height: 50rem;
    width: 100%;
}

body{
    background-color: rgb(127, 176, 182);
}

  